<h3>Welcome to the Bog App</h3>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>Next Steps</h3></div>
  <div class="panel-body">
    <p>The Bog App is intended to facilitate community involvement in research of creatures in our boggy, boggy world.</p>

    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">Add Sightings, model, db:migrate, FK to Bogs</li>
      <li class="list-group-item">Add Locations, model, db:migrate, FK to Sigthings</li>
      <li class="list-group-item">Add Users, model, db:migrate, FK to Sightings</li>
      <li class="list-group-item">User Login &amp; Account Maintenance</li>
      <li class="list-group-item">Take-A-Break > Checkers</li>
      <li class="list-group-item">THEN ...</li>
      <li class="list-group-item">fix dup creatures w/ self.join on Creature.master_id = id</li>
      <li class="list-group-item">add Data Driven Document ala D3js ! NY Times Obama Budget</li>
    </ul>
  </div>
</div>
