<h3>Welcome to the Bog App</h3>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>the Bog Blog</h3></div>
  <div class="panel-body">
    <p>The Bog App is intended to facilitate community involvement in research of creatures in our boggy, boggy world.</p>
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item">User Login &amp; Account Maintenance</li>
            <li class="list-group-item">connected tags to creature#edit</li>
            <li class="list-group-item">gen models: location, user, tags</li>
            <li class="list-group-item">got render partial w/ var.pass on create/edit form for Creatures/Sightings</li>
            <li class="list-group-item">got sightings up &amp; running.full-crud</li>
            <li class="list-group-item">got panel semi-transparent</li>
            <li class="list-group-item">bootStrap seemingly goes down from 10pm to 11pm then comes back, argh!!</li>
          </ul>

  </div>
</div>
